@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}



:root {
    --color-primary: #b70710; /* Netflix Red */
    --color-secondary: #170102; /* Dark Red */
    --text-primary: #ffffff; /* grey */
    --text-secondary: #b9b9b9; /* Light Grey */
    --background-primary: #000000; /* Dark Grey */
    --background-secondary: #1c1c1c; /* Medium Grey */
    --background-tertiary: #080808; /* Almost Black */
}

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-color: var(--background-primary);
        color: var(--text-primary);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-height: mas(884px, 100dvh);
        font-optical-sizing: auto;
        -moz-osx-font-smoothing: grayscale;
        transition: background 0.3s ease-in-out;
    }
    
}